POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=

DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_HOST=

JWT_SECRET_KEY=
JWT_SECRET_REFRESH=
JWT_EXPIRE=
JWT_REFRESH_EXPIRE=
JWT_ISSUER=

ALLOWED_ORIGINS=
ALLOWED_METHODS=
// always include x-retried in the header
ALLOWED_HEADERS=
MAX_AGE=

URL=